fastapi==0.115.6
uvicorn[standard]==0.34.0
pdfplumber==0.11.4
tiktoken==0.7.0
pymongo[srv]==4.7.2
sentence-transformers==3.0.1
torch==2.4.0
numpy==1.26.4
google-generativeai==0.7.2
python-dotenv==1.0.1
python-multipart==0.0.20
httpx==0.28.1